li {
    padding: 5px;
    margin: 5px;
    background: #f7cc95;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: rgb(166, 236, 248);
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  